body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #FAF9F6;
    color: #000;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 50px;
    background: white;
    border-bottom: 1px solid black;
}

.serif {
    font-family: Georgia, serif;
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: bold;
}

.header-icons {
    display: flex;
    gap: 25px;
    font-size: 22px;
}

.header-icons a {
    text-decoration: none;
    color: black;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-box input {
    width: 600px;
    max-width: 90%;
    height: 45px;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 45px;
    font-size: 16px;
    transition: 0.3s;
}

.search-box input:focus {
    transform: scale(1.03);
    outline: none;
}


/* HERO */

.hero {
    height: 550px;
    background-image: url("https://images.unsplash.com/photo-1483985988355-763728e1935b");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 50px;
    letter-spacing: 5px;
}

.hero button {
    padding: 15px 40px;
    background: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


/* PRODUCTS */

.products {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}


/* FOOTER */

footer {
    padding: 30px;
    text-align: center;
    border-top: 1px solid black;
}
